<h1>Dentinhos!</h1>

<div>
  {{#each dentinho}}
  <h3>{{name}}</h3>
  <img src="{{image_url}}" alt="{{name}}">
  <!--<p>By: {{author}}</p>
  <p>Rating: {{rating}}</p>
  <a href="/books/{{_id}}">See details</a>
  <a href="/books/{{_id}}/edit">Edit</a>-->
  {{/each}}
</div>