{{#each filteredDentinhos}}
  <h1 class="dentinhoResultTitle">Bars with: {{this.name}}</h1>
  <div class="container">
  <div class="row bars row-cols-4">
    {{#each this.bar}}
      <div class="card" style="width: 18rem; padding-right: 0; padding-left: 0">
        <img src="{{picture_url}}" class="card-img-top" alt="{{name}}" style="height: 15rem"/>
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <a href="/bars/{{_id}}" class="btn btn-primary">See details</a>
        </div>
      </div>
    {{/each}}
  </div>
  </div>
{{/each}}