{{#each bars}}
<h1>Details for: {{name}}</h1>
<ul>
    <li>{{opening_hours}}</li>
    <li>{{address}}</li>
    <li>{{rating}}</li>
    <li>{{picture_url}}</li>
    <li>{{dentinho}}</li>
</ul>
{{/each}}

{{#each dentinhos}}
{{picture_url}}
{{/each}}
      