<h1>{{name}}</h1>
<ul>
    <li>{{opening_hours}}</li>
    <li>{{address}}</li>
    <li>{{rating}}</li>
    <li><img src="{{picture_url}}" /></li>
</ul>


{{#each dentinho}}
<p>{{name}}</p>
<img src="{{picture_url}}" />
{{/each}}
      