<h1>{{name}}</h1>
<ul>
    <li>{{opening_hours}}</li>
    <li>{{address}}</li>
    <li><img src="{{picture_url}}" /></li>
</ul>


{{#each dentinho}}
<p>{{name}}</p>
<img src="{{picture_url}}" />
{{/each}}
      
<a href="/bars/{{_id}}/edit">Edit</a>

<form action="/bars/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>