<div class="container">
  <form action="/bars/bar-search" method="get">
    <div class="col-auto input-group bm-3 searchs">
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="barName" placeholder="Search for a Bar" aria-label="Search">
      <button class="input-group-text searchBtn" id="basic-addon2" type="submit">Search</button>
    </form>
    </div>
  </form>
    <div class="row bars row-cols-4">
  {{#each bars}}
    <div class="card glass" style="width: 18rem; padding-right: 0; padding-left: 0">
      <img src="{{picture_url}}" class="card-img-top" alt="{{name}}" style="height: 15rem"/>
      <div class="card-body glass">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Dentinho:
          {{#each dentinho}}
          {{name}},
          {{/each}}</p>
        <a href="/bars/{{_id}}" class="btn btn-primary">See details</a>
      </div>
    </div>
  {{/each}}
</div>
</div>